<p id="notice"><%= notice %></p>

<h1>Listing Countries</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <ul>
      
     <% @countries.each do |country| %>
      <p> <%= country.name %> </p>
      <ul>
        <% country.states.each do |state|%>
          <li>  <%= state.name %> </li>
        <% end %>
      </ul>
    <% end %>

    </ul>
  </tbody>
</table>

<br>

<%= link_to 'New Country', new_country_path %>
