<p id="notice"><%= notice %></p>

<h1>Listing Countries</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <ul>
      
      <% country_name = "" %>

      <% @countries_join.each do |country| %>
        <% if country_name != country.name %>
          <% country_name = country.name %>
          <p>  <%= country_name %> </p>  
        <% end %>

        <ul>
          <li>  <%=  country.state_name %> </li>
        </ul>
      <% end %>

    </ul>
  </tbody>
</table>

<br>

<%= link_to 'New Country', new_country_path %>
